body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u2053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:68px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.u2053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:68px;
  display:flex;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.u2053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2053_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:68px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.u2053.mouseOver {
}
.u2053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:68px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:left;
}
.u2054 {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:0px;
  width:160px;
  height:68px;
  display:flex;
  color:#555555;
  text-align:left;
}
.u2054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2052-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:68px;
}
#u2052-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:771px;
  height:68px;
}
#u2052-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:771px;
  height:68px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:315px;
  width:771px;
  height:204px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
}
#u2055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:332px;
  width:30px;
  height:30px;
  display:flex;
}
#u2055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:243px;
  width:64px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2056 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:447px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:315px;
  width:130px;
  height:447px;
  display:flex;
}
#u2057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:447px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:315px;
  width:140px;
  height:447px;
  display:flex;
}
#u2058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:242px;
  width:50px;
  height:40px;
  display:flex;
}
#u2059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:401px;
  width:30px;
  height:30px;
  display:flex;
}
#u2060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:470px;
  width:30px;
  height:30px;
  display:flex;
}
#u2061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  padding:2px 2px 2px 150px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:67px;
  width:698px;
  height:48px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 150px;
  box-sizing:border-box;
  width:100%;
}
#u2067_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067.mouseOver {
}
#u2067_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067.focused {
}
#u2067_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 194, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067.hint {
}
#u2067_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.09803921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 0.5019607843137255);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067.mouseOver.hint {
}
#u2067_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.4px;
  color:#333333;
}
#u2067.focused.hint {
}
#u2068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:79px;
  width:24px;
  height:24px;
  display:flex;
}
#u2068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2068_img.selected {
}
#u2068.selected {
}
#u2068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:81px;
  width:20px;
  height:20px;
  display:flex;
}
#u2069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2069_img.mouseOver {
}
#u2069.mouseOver {
}
#u2069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2070_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:79px;
  width:100px;
  height:25px;
  display:flex;
}
#u2070 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2070_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070.disabled {
}
.u2070_input_option {
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2072 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2072_img.mouseOver {
}
#u2072.mouseOver {
}
#u2072_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2072.mouseDown {
}
#u2072_img.selected {
}
#u2072.selected {
}
#u2072_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2072.mouseOver.mouseDown {
}
#u2072_img.mouseOver.selected {
}
#u2072.mouseOver.selected {
}
#u2072_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2072.mouseDown.selected {
}
#u2072_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2072.mouseOver.mouseDown.selected {
}
#u2072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2073 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2073_img.mouseOver {
}
#u2073.mouseOver {
}
#u2073_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2073.mouseDown {
}
#u2073_img.selected {
}
#u2073.selected {
}
#u2073_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2073.mouseOver.mouseDown {
}
#u2073_img.mouseOver.selected {
}
#u2073.mouseOver.selected {
}
#u2073_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2073.mouseDown.selected {
}
#u2073_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2073.mouseOver.mouseDown.selected {
}
#u2073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2074 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2074_img.mouseOver {
}
#u2074.mouseOver {
}
#u2074_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2074.mouseDown {
}
#u2074_img.selected {
}
#u2074.selected {
}
#u2074_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2074.mouseOver.mouseDown {
}
#u2074_img.mouseOver.selected {
}
#u2074.mouseOver.selected {
}
#u2074_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2074.mouseDown.selected {
}
#u2074_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2074.mouseOver.mouseDown.selected {
}
#u2074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2075 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2075_img.mouseOver {
}
#u2075.mouseOver {
}
#u2075_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2075.mouseDown {
}
#u2075_img.selected {
}
#u2075.selected {
}
#u2075_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2075.mouseOver.mouseDown {
}
#u2075_img.mouseOver.selected {
}
#u2075.mouseOver.selected {
}
#u2075_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2075.mouseDown.selected {
}
#u2075_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2075.mouseOver.mouseDown.selected {
}
#u2075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2076 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2076_img.mouseOver {
}
#u2076.mouseOver {
}
#u2076_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2076.mouseDown {
}
#u2076_img.selected {
}
#u2076.selected {
}
#u2076_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2076.mouseOver.mouseDown {
}
#u2076_img.mouseOver.selected {
}
#u2076.mouseOver.selected {
}
#u2076_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2076.mouseDown.selected {
}
#u2076_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2076.mouseOver.mouseDown.selected {
}
#u2076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2077 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2077_img.mouseOver {
}
#u2077.mouseOver {
}
#u2077_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2077.mouseDown {
}
#u2077_img.selected {
}
#u2077.selected {
}
#u2077_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2077.mouseOver.mouseDown {
}
#u2077_img.mouseOver.selected {
}
#u2077.mouseOver.selected {
}
#u2077_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2077.mouseDown.selected {
}
#u2077_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2077.mouseOver.mouseDown.selected {
}
#u2077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:173px;
  width:107px;
  height:32px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.4px;
}
#u2078 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u2078_img.mouseOver {
}
#u2078.mouseOver {
}
#u2078_img.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2078.mouseDown {
}
#u2078_img.selected {
}
#u2078.selected {
}
#u2078_img.mouseOver.mouseDown {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2078.mouseOver.mouseDown {
}
#u2078_img.mouseOver.selected {
}
#u2078.mouseOver.selected {
}
#u2078_img.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2078.mouseDown.selected {
}
#u2078_img.mouseOver.mouseDown.selected {
  left:-1px;
  top:-1px;
  width:111px;
  height:36px;
}
#u2078.mouseOver.mouseDown.selected {
}
#u2078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:39px;
  width:300px;
  height:110px;
  display:flex;
}
#u2079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:75px;
  width:71px;
  height:19px;
  display:flex;
}
#u2080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:75px;
  width:71px;
  height:19px;
  display:flex;
}
#u2081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:67px;
  width:35px;
  height:35px;
  display:flex;
}
#u2082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:315px;
  width:543px;
  height:306px;
  display:flex;
}
#u2084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:2px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:383px;
  width:543px;
  height:1px;
  display:flex;
}
#u2085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:left;
}
.u2087 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:189px;
  height:30px;
  display:flex;
  color:#555555;
  text-align:left;
}
.u2087 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:left;
}
.u2088 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:93px;
  height:30px;
  display:flex;
  color:#555555;
  text-align:left;
}
.u2088 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2086-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:425px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
}
#u2089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#910012;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:430px;
  width:50px;
  height:20px;
  display:flex;
  color:#910012;
}
#u2089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:430px;
  width:50px;
  height:20px;
  display:flex;
}
#u2090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:338px;
  width:150px;
  height:29px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u2091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:397px;
  width:39px;
  height:15px;
  display:flex;
}
#u2092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2092_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:397px;
  width:65px;
  height:15px;
  display:flex;
}
#u2093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2093_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:335px;
  width:33px;
  height:36px;
  display:flex;
}
#u2094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:539px;
  width:30px;
  height:30px;
  display:flex;
}
#u2095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:743px;
  width:160px;
  height:50px;
  display:flex;
}
#u2097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(130, 0, 16, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:743px;
  width:150px;
  height:50px;
  display:flex;
  color:#FFFFFF;
}
#u2098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:760px;
  width:116px;
  height:19px;
  display:flex;
}
#u2099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:790px;
  width:590px;
  height:15px;
  display:flex;
}
#u2100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:805px;
  width:249px;
  height:65px;
  display:flex;
}
#u2101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 50px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:760px;
  width:56px;
  height:19px;
  display:flex;
}
#u2102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:760px;
  width:108px;
  height:19px;
  display:flex;
}
#u2103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:760px;
  width:56px;
  height:19px;
  display:flex;
}
#u2104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:760px;
  width:95px;
  height:19px;
  display:flex;
}
#u2105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
